.nav-link {
  color: #292826;
}

.jumbotron {
  padding-top: 6rem;
  color: #f9d142;
  background-color: #292826;
}

#navbar{
  background-color: #f9d142;
}

#about {
  color: #292826;
  background-color: #f9dd76;
}

#projects {
  color: #f9d142;
  background-color: #292826;
}

.card-text {
  color: #292826;
}

#contact {
  color: #292826;
  background-color: #f9dd76;
}

.footbar {
  color: #f9d142;
  background-color: #292826;
}

section {
  padding-top: 5rem;
}

.kirim {
  color: #f9d142;
  background-color: #292826;
}